version: '3.8'

services:

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    container_name: react-frontend

  backend:
    build: ./backend
    image: backend-app:v1
    ports:
      - "8080:8080"
    depends_on:
      - mysql

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
    ports:
      - "3306:3306"
    container_name: mysql-db

